*,
*::before,
*::after {
    box-sizing: border-box;
}

.high-scores {
    display: inline-block;
    margin-left: 20px;
    margin-top: 20px;
}

header {
    width: 100%;
}

main {
    width: 100%;
}

h1 {
    text-align: center;
    padding-top: 50px;
}

h4 {
    display: flex;
    float: right;
    position: relative;
    align-content: flex-end;
    padding-right: 20px;
}

.start {
    margin: 0;
    position: absolute;
    height: 50px;
    width: 120px;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.hide {
    display: none;
}

#questions-container {
    margin: 0;
    position: absolute;
    top: 25%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#answer-buttons {
    margin: 0;
    position: absolute;
    top: 25%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.answer-button {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 200px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    padding: 15px;
    background-color: purple;
    color: white;
    
}

#initialsInput {
    margin: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    height: 30px;
    width: 120px;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}