*,
*::before,
*::after {
    box-sizing: border-box;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.score-time {
    justify-content: start;
}

main {
    width: 100%;
    text-align: center;
    padding: 50px;
}

.startGame {
    text-align: center;
}

.endGame {
    text-align: center;
}

.start {
    background-color: purple;
    color: white;
    border-radius: 4px;
}

.qAndA {
    text-align: start;
    margin-left: 300px;
    width: 50%;
}

#answer-buttons {
    display: flex;
    flex-direction: column;
}

h3 {
    border-top: 2px solid rgba(128, 128, 128, 0.466);
}

.answer-button {
    width: fit-content;
    display: flex;
    flex-direction: column;
    margin: 10px; 
    background-color: purple;
    color: white;
    border-radius: 4px;
}

#submit {
    background-color: purple;
    color: white;
    border-radius: 4px;
}

.hide {
    display: none;
}

